html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}



@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.page {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    background-color: var(--white);
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

/* glob */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

:root {
    --black: #000;
    --white: #fff;
    --violet: #876ED7;
    --orange: #FFD073;
    --berquoise: #5CCCCC;
}

.btn {
    display: flex;
    margin: 0 auto;
}

